{% extends "base.html" %}

{% block content %}

<nav>
    <ul>
        <li><a href="{% url 'core:quick_buy_entry' %}">Quick Buy</a></li>
        <li><a href="{% url 'core:todays_transactions' %}">Today's Transactions</a></li>
        <li><a href="{% url 'core:add_customer' %}">Add Customer</a></li>
        <li><a href="{% url 'core:set_rate' %}">Set Rate</a></li>
        <li><a href="{% url 'core:cash_out' %}">Cash Out</a></li>
        <li><a href="{% url 'core:cash_in' %}">Cash In</a></li>
    </ul>
</nav>
<hr>

<h1>Quick Buy Entry</h1>
<p>Current Rate: {{ latest_rate.rate_per_gram }} per gram</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}
