<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold Buying App</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}</li>
                <li><a href="{% url 'core:central_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'core:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'core:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
